column-header(col-def="colDef"
              toggle-column="$ctrl.toggleColumn(columnName)"
              is-selected-column="$ctrl.isSelectedColumn(columnName)"
              selected-stats-column="$ctrl.selectedStatsColumn"
              stats-column="$ctrl.statsColumn(columnName, columnType)"
              filter-column="$ctrl.filterColumn(columnName, columnType)"
              is-number-type="$ctrl.isNumberType(columnType)"
              )
