decision-tree-classifier-model(
  target-variable="$ctrl.targetVariable"
  ng-if="$ctrl.isSelected('decisiontreeclassifier')")

random-forest-classifier-model(
  target-variable="$ctrl.targetVariable"
  ng-if="$ctrl.isSelected('randomforestclassifier')")

gbt-classifier-model(
  target-variable="$ctrl.targetVariable"
  ng-if="$ctrl.isSelected('gbtclassifier')")
