linear-regression-model(
  target-variable="$ctrl.targetVariable"
  ng-if="$ctrl.isSelected('linearregression')")
tree-regression-model(
  target-variable="$ctrl.targetVariable"
  ng-if="$ctrl.isSelected('decisiontreeregressor')")
ridge-regression-model(
  target-variable="$ctrl.targetVariable"
  ng-if="$ctrl.isSelected('ridgeregressionwithsgd')")
